.dom-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  /* color: ; */
  font-size: 30px;
  width: 100%;
  height: 100%;
}

.step-display {
  position: fixed;
  left: 0;
  top: 0;
  color: red;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.section-wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.section-wrapper > div {
  width: 100%;
  height: 100%;
  /* opacity: 0.3; */
}

.section-01 {
  /* background-color: red; */
  display: flex;
  justify-content: left;
  align-items: end;
}

.section-box-01 {
  margin-left: 10%;
  margin-bottom: 5%;
}
.typography-01 {
  font-size: 70px;
  margin: 0;
}
.typography-02 {
  font-size: 30px;
  margin-top: 10px;
  margin: 0;
}

.section-02 {
  background-color: blue;
  opacity: 0.3;
}

.section-03 {
  opacity: 0.3;
}

@media (max-width: 720px) {
  .typography-01 {
    font-size: 30px;
  }
  .typography-02 {
    font-size: 16px;
  }
  
}
